.base_color{
    -fx-background-color: #32538A;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.lighter_color{
    -fx-background-color: #516FA2;
}

.lightest_color{
    -fx-background-color: #86A0C8;
}


.darker_color{
    -fx-background-color: #1C3B71;
}


.darkest_color{
    -fx-background-color: #082350;
}



.highlight_color{
    -fx-background-color: #D09C3E;
}

.h_lighter_color{
    -fx-background-color: #F4C46D;
}

.h_lightest_color{
    -fx-background-color: #FFDEA2;
}

.h_darker_color{
    -fx-background-color: #AA781D;
}

.h_darkest_color{
    -fx-background-color: #784E01;
}


.menu > .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.base_color > .label{
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.tab-header-background{
    -fx-background-color: #1C3B71;
}

.tab{
    -fx-background-color: #516FA2;
}

.tab-label{
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.error_radius {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}